{% extends 'melonRefappBundle::layout.html.twig' %}

	{% block menu_deroulant %}
		{{ parent() }}
	{% endblock %}
	
	{% block login %}
	{% endblock %}

	{% block contenu %}
		<div id='corps'>
		<h2>Supprimer le langage {{ langage.nom }}</h2>
			
 
  			{# On met l'id de l'article dans la route de l'action du formulaire #}
 			<form class="formAjoutObjet"  action="{{ path('_supprimerLangage', {'id': langage.id}) }}" method="post">
    			<div class="contAjoutObjet">
    			<p>
    			Etes-vous certain de vouloir supprimer le langage "{{ langage.nom }}" ?
 				</p>
 				{{ form_rest(form) }}
    			</div>
  				 <div class="bouton">
    			<a href="{{ path('_administration') }}"><input  type="submit" class="btn-primary" name="Annuler" value="Annuler"/></a>
   
    			<input type="submit" value="Supprimer" class="btn-primary" />
    			</div>
  			</form>
		</div>	
	{% endblock %}
